@model School.Models.AfterSchool
@{
    ViewBag.Title = "AfterSchool";
}

<h2>After School</h2>

@using (Html.BeginForm("AfterSchool", "Registration", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container">
            <table class="table table-bordered" id="myTable">
                <thead>
                    <tr>
                        <th>Period From</th>
                        <th>Period To</th>
                        <th>Name Of Institution e.g University/Technicon/College</th>
                        <th>Name Of Qualification e.g Degree/Diploma/Certificate</th>
                        <th>Study Complete</th>
                        <th>Reference Number</th>
                    </tr>
                </thead>
                <tbody id="applyTable">
                    <tr>
                        <td>@Html.EditorFor(model => model.PeriodFrom, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.EditorFor(model => model.PeriodTo, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.EditorFor(model => model.NameOfInstitution, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td>@Html.EditorFor(model => model.NameOfQualification, new { htmlAttributes = new { @class = "form-control" } })</td>
                        <td> <input type="checkbox" name="StudyComplete" value="true" /> </td>
                        <td>@Html.EditorFor(model => model.ReferenceNumber, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                </tbody>
            </table>
            <input id="addRow" type="button" value="Add Row" onclick="addRow()" class="btn btn-primary" />
            <input id="deleteRow" type="button" value="Delete row" onclick="deleteRow()" class="btn btn-warning" />
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p align="right">
                    <input type="submit" value="Save/Next" class="btn btn-success btn-sm next pull-right" />
                </p>
            </div>
        </div>


    </div>
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <form action="SchoolDetails">
            <input type="submit" value="Back" class="btn btn-success btn-danger" />
        </form>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(function () {
        $('#addRow').on('click', function () {
            var data = $("#myTable tr:eq(1)").clone(true).appendTo("#myTable");
            data.find("input").val('');
        });
        $('#deleteRow').on('click', function () {
            $("#applyTable").children().first().remove();
        });

    });
</script>